@use '../styles/util/colors' as *;

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    .img, .cover {
        background-color: $accent;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        transition: background 0.5s ease-in-out;
    }
    .img1 {
        width: 65%;
        height: 200px;
        border-image: url(/app/img/galery/louis.png) 30 round;

    }
    .img2 {
        width: 32%;
        border-image: url(/app/img/galery/coca-cola.png) 30 round;
        img {
            color: red;
        }
    }
    .img3 {
        margin-top: 2%;
        width: 20%;
        height: 100px;
    }
    .img4 {
        margin-top: 2%;
        width: 55%;
    }
    .img5 {
        margin-top:2%;
        width: 20%;
    }
    .img6 {
        margin-top: 2%;
        width: 35%;
        height: 200px;
    }
    .img7 {
        margin-top:2%;
        width: 62%;
        height: 200px;
    }
}
