@use '../styles/util/colors' as *;

.two-months-msg{
    .new-msg {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h2 {
            margin-left: 5px;
        }
        img {
            margin-left: -5px;
        }
    }
    .postcard {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 98%;
        background-color: white;
        border-radius: 15px;
        transition: all 0.9s;
        .message {
            p {
                color: black;
                font-size: 1.6ch;
                margin-left: 20px;
                margin-bottom: 10px;
            }
            .blue-p {
                color: $secondary;
                font-weight: 600;
            }
        }
        .images {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            margin-bottom: 20px;
            padding-left: 20px;
            .img1 {
                margin-left: 60px;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            
        }
        &:hover {
            box-shadow: .2em .2em 5px $accent;
            -ms-transform: rotate(2.5deg); /* IE 9 */
             -webkit-transform: rotate(2.5deg); /* Chrome, Safari, Opera */
             transform: rotate(2.5deg);
           -moz-transition: all 0.9s ease;
           -webkit-transition: all 0.9s ease;
           -o-transition: all 0.9s ease;
           transition: all 0.9s ease;
        }
    }
}
